.parallax {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../../assets/parallax.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 150px;
 background-attachment: fixed;
    
}

.parallax h2{padding-bottom: 10px}

.parallax .item{
    position: relative;
   }
.parallax .des{
    background: #F97300;
    color: #fff;
    text-align: center;
    
    transition:.3s ease-in-out;
   }

.parallax .item:hover .des{
    height: 100%;
    background:#f973007d;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
   }